@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #fff;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-ubuntu);
}

@layer base {
  :root {
    --brand-black: #000;
    --brand: #fff;
    --brand-text-strong: #000;
    --brand-text-weak: #6C757D;
    --brand-bg-primary: #000;
    --brand-bg-secondary: #fff;
  }
}